body {
    background-color: #2b669a;
    color: white;
}

h1 {
    color: white;
    font-size: 3em;
}

button {
    background-color: #204056;
    color: white;
    font-weight: bold;
}

button:hover,
button:focus {
    color: lightgray !important;
}

.directions {
    background-color: whitesmoke;
    color: #5A5A5A;
    padding: 20px 20px;
    font-size: 1.5em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#plus {
    opacity: 0.9;
}

.glyphicon-plus:hover {
    color: coral;
    cursor: pointer;
}

#listDirections {
    color: black;
    padding: 20px 20px;
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.2em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
