body {
    background-color: #2b669a;
}

h1 {
    color: white;
    font-size: 3em;
}

button {
    background-color: #204056;
    color: white;
    font-weight: bold;
}

.btn-block {
    margin-bottom: 15px;
}

button:hover,
button:focus {
    color: lightgray !important;
}

.directions {
    background-color: whitesmoke;
    color: #5A5A5A;
    padding: 20px 20px;
    font-size: 1.5em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.glyphicon-plus {
    font-size: 2em;
    color: white;
    padding: 5px 5px;
}

.glyphicon-plus:hover {
    color: coral;
    cursor: pointer;
}