body {
    background-color: #2b669a;
}

h1 {
    color: white;
    font-size: 3em;
}

button {
    background-color: #204056;
    color: white;
    font-weight: bold;
}

button:hover,
button:focus {
    color: lightgray !important;
}

.directions {
    max-width: 80%;
    height: auto;
    background-color: whitesmoke;
    color: #0f0f0f;
    padding: 20px 20px;
    margin: 0 auto;
    font-size: 1.5em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}